<div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">First and last name</span>
    </div>
    <input type="text" class="form-control">
    <input type="text" class="form-control">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
    </div>
    <input type="text" class="form-control" aria-label="Email" aria-describedby="inputGroup-sizing-default">
  </div>
  